
.link {
    float: right;
}
#link1 {
    padding-top: 70px;
    padding-bottom: 50px;
    color: black;
    text-decoration: none;
}
#link2 {
    padding: 70px;
    color: black;
    text-decoration: none;
}
#link3 {
    padding: 70px;
    color: black;
    text-decoration: none;
}
#nav-bar {
    padding-top: 30px;
}

.main {
    text-align: center;
    padding-top: 40px;
}
.text {
    width: 290px;
}
.bt3 {
    background-color: darkgoldenrod;
    padding: 7px;
    width: 170px;
    font-weight: bold;
    border-radius: 10px;
}
.container {
    display: flex;
    flex-direction: column;
}
i {
    font-size: 300%;
    color: orange;
}

.center {
    display: block;
    margin: 0 auto;
    width: 400px;
}
footer {
    float: right;
}
a:hover {
    
}
.clone{
    display: flex;
    justify-content: center;
    align-items: center;
}
button {
    background-color: darkgoldenrod;
    padding: 10px;
    width: 120px;
}
#footerLink1 {
    color: black;
    text-decoration: none;
}
#footerLink2 {
    color: black;
    text-decoration: none;
}
#footerLink3 {
    color: black;
    text-decoration: none;
}
